// GLOBAL
$bodyBgColor: #F9F9FF;

$showRWDNavigation: 1200px;

$mainFontColor: #5E5C7F;
$mainFontFamily: 'Rubik',
sans-serif;

$globalLinkColor: #FF4C60;
$globalHoverLinkColor: #353353;

$errorColor: red;

$formPlaceholderColor: #bbbbbb;

// BUTTONS
$mainButtonColor: #FF4C60;
$mainButtonFontColor: #fff;

// header
$mainHeaderColor: #454360;
// $secondHeaderColor: #5E5C7F;

// NAVIGATION
$navigationColor: #353353;
$menuBorderColor: rgba(255, 255, 255, 0.100);
$iconColor: #ffd15c;
$navFontsColor: #fff;
$navFontHoverColor: #ffd15c;
$navCopyrightColor: #9c9ab3;

// HAMBURGER
$hamburgerColor: #353353;

// HOME
$homeBgColor: #353353;
$homeTextColor: #fff;
$homeTextHoverColor: #ffd15c;

// ABOUT
$aboutCloudBgColor: #fff;
$progressBgColor: #f1f1f1;
$progressBarYellow: #ffd15c;
$progressBarRed: #ec2626;
$progressBarBlue: #3746d3;

// SERVICES
$servicesCloudBlue: #6c6ce5;
$servicesCloudYellow: #f9d74c;
$servicesCloudRed: #f97b8b;
$servicesShadowBlue: 0px 5px 20px 0px rgba(3, 3, 53, 0.5);
$servicesShadowYellow: 0px 5px 20px 0px rgba(160, 135, 35, 0.5);
$servicesShadowRed: 0px 5px 20px 0px rgba(156, 40, 56, 0.5);

$servicesFontColorLight:#f8f9fa;
$servicesFontColorDark: $mainFontColor;



// EXPERIENCE
$experienceCloudBgColor: #fff;
$experienceIconsColor: #fff;
$experienceTime: #8B88B1;
$experienceHeader: #454360;
$experienceShadow: 0 5px 20px 0 rgba(69, 69, 96, 0.1);


// WORKS
$worksLinkHoverColor: #FF4C60;


// PRICING
$pricesShadow: 0 5px 20px 0 rgba(69, 69, 96, 0.1);
$pricesCloudBgColor: #fff;
$badgeBgColor: #6C6CE5;
$badgeFontColor: #fff;

// BLOG
$blogShadow: 0 5px 20px 0 rgba(69, 69, 96, 0.1);
$blogCloudBgColor: #fff;
$blogBadgeBgColor: #FF4C60;
$blogBadgeFontColor: #fff;
$blogLinkFontColor: #353353;
$blogLinkHoverColor: #FF4C60;
$blogListFontColor: #8B88B1;

// CONTACT
$ContactFormFontColor: #454360;
$contactFormInputBorder: #d3d3d3;
$focusBorderColor: #1f71ec;