.global-button {
    display: inline-block;

    background-color: $mainButtonColor;
    color: $mainButtonFontColor;
    padding: 12px 32px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 16px;
    border: none;
    cursor: pointer;

    // transition: all 1s ease;
    // transform: scale(1);

    &:hover {
        animation: button-animation 500ms normal;
    }
}